.header {
	grid-area: h;
	background: #00ffad;
}
.header img {
	width: 50px;
}
.linkLogin
{
	float: right;
	display: flex;
	justify-content: flex-end;
	padding: 0px 20px 0px 0px;		

}
.linkLogin a
{
	text-decoration: none;
	color: #ff0080;
	font-weight: bold;
	font-size: 24px;
	padding-top: 15px;
}
.linkLogin h3
{
	color: #ff8000;
	margin-right: 20px;
}